## TOPIC: Data Warehousing Fundamentals

**1.** Design a data warehouse schema for a retail company that includes dimension
tables for products, customers, and time. Implement the schema using a relational
database management system (RDBMS) of your choice.

Insert sample data into the sales fact table:

Products Dimension Table:

product_id (Primary Key)
product_name
category
brand
price
Customers Dimension Table:

customer_id (Primary Key)
customer_name
address
city
state
country
Time Dimension Table:

date_id (Primary Key)
date
year
month
day
quarter
Sales Fact Table:

sales_id (Primary Key)
product_id (Foreign Key referencing Products Dimension Table)
customer_id (Foreign Key referencing Customers Dimension Table)
date_id (Foreign Key referencing Time Dimension Table)
sales_amount

To implement this schema using a relational database management system, follow these steps:

Create the dimension tables:

CREATE TABLE products_dim (
  product_id SERIAL PRIMARY KEY,
  product_name VARCHAR(255),
  category VARCHAR(255),
  brand VARCHAR(255),
  price DECIMAL(10, 2)
);

CREATE TABLE customers_dim (
  customer_id SERIAL PRIMARY KEY,
  customer_name VARCHAR(255),
  address VARCHAR(255),
  city VARCHAR(255),
  state VARCHAR(255),
  country VARCHAR(255)
);

CREATE TABLE time_dim (
  date_id SERIAL PRIMARY KEY,
  date DATE,
  year INT,
  month INT,
  day INT,
  quarter INT
);

Create the sales fact table:

CREATE TABLE sales_fact (
  sales_id SERIAL PRIMARY KEY,
  product_id INT REFERENCES products_dim(product_id),
  customer_id INT REFERENCES customers_dim(customer_id),
  date_id INT REFERENCES time_dim(date_id),
  sales_amount DECIMAL(10, 2)
);

Insert sample data into the dimension tables:

INSERT INTO products_dim (product_name, category, brand, price)
VALUES
  ('Product 1', 'Category 1', 'Brand 1', 10.99),
  ('Product 2', 'Category 2', 'Brand 2', 19.99),
  ('Product 3', 'Category 1', 'Brand 1', 15.99);

INSERT INTO customers_dim (customer_name, address, city, state, country)
VALUES
  ('Customer 1', 'Address 1', 'City 1', 'State 1', 'Country 1'),
  ('Customer 2', 'Address 2', 'City 2', 'State 2', 'Country 2'),
  ('Customer 3', 'Address 3', 'City 3', 'State 3', 'Country 3');

INSERT INTO time_dim (date, year, month, day, quarter)
VALUES
  ('2023-01-01', 2023, 1, 1, 1),
  ('2023-02-01', 2023, 2, 1, 1),
  ('2023-03-01', 2023, 3, 1, 1);

Insert sample data into the sales fact table:

INSERT INTO sales_fact (product_id, customer_id, date_id, sales_amount)
VALUES
  (1, 1, 1, 100.00),
  (2, 2, 2, 150.00),
  (1, 3, I apologize for the incomplete response. Here's the continuation of step 4:

**2.** Create a fact table that captures sales data, including product ID, customer ID,
date, and sales amount. Populate the fact table with sample data.

**Create the fact table named "sales_fact" with the necessary columns:**

CREATE TABLE sales_fact (
  sales_id SERIAL PRIMARY KEY,
  product_id INT,
  customer_id INT,
  date DATE,
  sales_amount DECIMAL(10, 2)
);

**Populate the fact table with sample data using the INSERT INTO statement:**

INSERT INTO sales_fact (product_id, customer_id, date, sales_amount)
VALUES
  (1, 1, '2023-01-01', 100.00),
  (2, 2, '2023-01-01', 150.00),
  (1, 3, '2023-01-02', 200.00);

In the above example, we assume that the product ID, customer ID, date, and sales amount are stored in their respective columns in the sales_fact table. Adjust the column names and data types as per your specific requirements.

You can continue populating the sales_fact table with additional sample data by extending the VALUES clause in the INSERT INTO statement.

By executing these SQL statements, you have created the sales_fact table and inserted sample sales data into it. The fact table is now ready to be used for analysis and reporting in your retail data warehouse.

**3.** Write SQL queries to retrieve sales data from the data warehouse, including
aggregations and filtering based on different dimensions.

Retrieve total sales amount for each product:

SELECT product_id, SUM(sales_amount) AS total_sales FROM sales_fact GROUP BY product_id;

Retrieve total sales amount for each customer:

SELECT customer_id, SUM(sales_amount) AS total_sales FROM sales_fact GROUP BY customer_id;

Retrieve total sales amount for each date:

SELECT date, SUM(sales_amount) AS total_sales FROM sales_fact GROUP BY date;

Retrieve total sales amount for each product and customer combination:

SELECT product_id, customer_id, SUM(sales_amount) AS total_sales FROM sales_fact GROUP BY product_id, customer_id;

Retrieve total sales amount for a specific product:

SELECT SUM(sales_amount) AS total_sales FROM sales_fact WHERE product_id = 1;

Retrieve total sales amount for a specific customer:

SELECT SUM(sales_amount) AS total_sales FROM sales_fact WHERE customer_id = 1;

Retrieve total sales amount for a specific date range:

SELECT SUM(sales_amount) AS total_sales FROM sales_fact WHERE date BETWEEN '2023-01-01' AND '2023-01-31';

These are just a few examples of SQL queries to retrieve sales data from the data warehouse. You can modify and expand these queries based on your specific requirements, including additional dimensions or applying more complex filtering conditions.

Remember to adjust the table and column names in the queries to match your data warehouse schema.

## TOPIC: ETL and Data Integration

**1.** Design an ETL process using a programming language (e.g., Python) to extract
data from a source system (e.g., CSV files), transform it by applying certain business
rules or calculations, and load it into a data warehouse.

Designing an ETL Process:

To design an ETL process, you need to consider the following steps:
Extraction: Identify the source systems from which you want to extract data. This can be CSV files, databases, APIs, or other data sources. Determine the extraction method and specify the data fields or tables to extract.

Transformation: Define the transformations and business rules to be applied to the extracted data. This may include cleaning, filtering, aggregating, joining, or applying calculations to the data.

Loading: Design the structure and schema of the data warehouse tables. Determine the loading method, such as incremental or full load, and specify how the transformed data will be loaded into the data warehouse.

**2.** Implement the ETL process by writing code that performs the extraction,
transformation, and loading steps.

Implementing the ETL Process in Python:
Here's an example of how you can implement the ETL process using Python:

import csv
import psycopg2

# Extraction Step
def extract_data(csv_file):
    data = []
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        for row in reader:
            data.append(row)
    return data

# Transformation Step
def transform_data(data):
    transformed_data = []
    for row in data:
        # Apply business rules or calculations
        transformed_row = {
            'column1': row['column1'],
            'column2': int(row['column2']) * 2,
            'column3': row['column3'].upper()
        }
        transformed_data.append(transformed_row)
    return transformed_data

# Loading Step
def load_data(data):
    conn = psycopg2.connect(host='your_host', port='your_port',
                            dbname='your_db', user='your_user', password='your_password')
    cur = conn.cursor()

    for row in data:
        # Load data into the data warehouse
        cur.execute("INSERT INTO your_table (column1, column2, column3) VALUES (%s, %s, %s)",
                    (row['column1'], row['column2'], row['column3']))

    conn.commit()
    cur.close()
    conn.close()

# Main ETL Process
def etl_process(csv_file):
    # Extract data from the source
    extracted_data = extract_data(csv_file)

    # Transform the extracted data
    transformed_data = transform_data(extracted_data)

    # Load the transformed data into the data warehouse
    load_data(transformed_data)

# Usage example
csv_file = 'your_csv_file.csv'
etl_process(csv_file)

In this example, we assume that you have a CSV file as the source system. The extract_data function reads the data from the CSV file and returns a list of dictionaries representing the rows. The transform_data function applies the desired transformations to the extracted data. Finally, the load_data function loads the transformed data into a PostgreSQL database table.

Make sure to replace the placeholders (your_host, your_port, your_db, your_user, your_password, your_table) with the appropriate values specific to your environment and data warehouse setup.

You can further enhance the ETL process by adding error handling, logging, or additional data transformations as per your requirements.

## TOPIC: Dimensional Modeling and Schemas

**1.** Design a star schema for a university database, including a fact table for student
enrollments and dimension tables for students, courses, and time. Implement the
schema using a database of your choice.


**2.** Write SQL queries to retrieve data from the star schema, including aggregations
and joins between the fact table and dimension tables

To design a star schema for a university database, including a fact table for student enrollments and dimension tables for students, courses, and time, you can follow these steps:

1. Determine the Fact Table:

Fact table name: student_enrollments_fact
Fact table columns: enrollment_id (Primary Key), student_id (Foreign Key referencing students_dim), course_id (Foreign Key referencing courses_dim), time_id (Foreign Key referencing time_dim), enrollment_date, grade

2. Design Dimension Tables:

a. Students Dimension Table:

student_id (Primary Key)
student_name
major
graduation_year
other relevant student attributes
b. Courses Dimension Table:

course_id (Primary Key)
course_name
course_code
department
other relevant course attributes

c. Time Dimension Table:

time_id (Primary Key)
enrollment_date (Date)
semester
academic_year
other relevant time attributes

3. Implementing the Star Schema in a Database:

To implement the star schema, you can use a database of your choice. Here's an example using PostgreSQL:

-- Create the students_dim table
CREATE TABLE students_dim (
  student_id SERIAL PRIMARY KEY,
  student_name VARCHAR(255),
  major VARCHAR(255),
  graduation_year INT
);

-- Create the courses_dim table
CREATE TABLE courses_dim (
  course_id SERIAL PRIMARY KEY,
  course_name VARCHAR(255),
  course_code VARCHAR(255),
  department VARCHAR(255)
);

-- Create the time_dim table
CREATE TABLE time_dim (
  time_id SERIAL PRIMARY KEY,
  enrollment_date DATE,
  semester VARCHAR(255),
  academic_year INT
);

-- Create the student_enrollments_fact table
CREATE TABLE student_enrollments_fact (
  enrollment_id SERIAL PRIMARY KEY,
  student_id INT REFERENCES students_dim(student_id),
  course_id INT REFERENCES courses_dim(course_id),
  time_id INT REFERENCES time_dim(time_id),
  enrollment_date DATE,
  grade VARCHAR(2)
);

4. Writing SQL Queries to Retrieve Data:

Here are some SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables:

a. Retrieve total enrollments by course and semester:

SELECT c.course_name, t.semester, COUNT(*) AS total_enrollments
FROM student_enrollments_fact f
JOIN courses_dim c ON f.course_id = c.course_id
JOIN time_dim t ON f.time_id = t.time_id
GROUP BY c.course_name, t.semester;

b. Retrieve the average grade by department and academic year:
SELECT c.department, t.academic_year, AVG(CAST(f.grade AS FLOAT)) AS avg_grade
FROM student_enrollments_fact f
JOIN courses_dim c ON f.course_id = c.course_id
JOIN time_dim t ON f.time_id = t.time_id
GROUP BY c.department, t.academic_year;

c. Retrieve student enrollment details for a specific course:
SELECT s.student_name, c.course_name, t.enrollment_date, f.grade
FROM student_enrollments_fact f
JOIN students_dim s ON f.student_id = s.student_id
JOIN courses_dim c ON f.course_id = c.course_id
JOIN time_dim t ON f.time_id = t.time_id
WHERE c.course_name = 'CourseName';

These queries demonstrate how you can retrieve data from the star schema by joining the fact table (student_enrollments_fact) with the dimension tables (students_dim, courses_dim, time_dim). Adjust the table and column names, as well as the filtering conditions, to match your specific schema and data warehouse requirements.

Remember to replace the placeholders ('CourseName') in the queries with actual values specific to your data.

## TOPIC: Performance Optimization and Querying

**1.** Scenario: You need to improve the performance of your data loading process in
the data warehouse. Write a Python script that implements the following
optimizations:

**a)** Utilize batch processing techniques to load data in bulk instead of individual
row insertion.

**b)** Implement multi-threading or multiprocessing to parallelize the data loading
process.

**c)** Measure the time taken to load a specific amount of data before and after
implementing these optimizations

Python script that implements the mentioned optimizations for improving the performance of data loading in a data warehouse:

import time
import threading
from multiprocessing import Pool

# Function to simulate data loading for a single row
def load_data(row):
    # Data loading logic for a single row
    time.sleep(0.1)  # Simulating data loading time

# Function to load data in bulk using batch processing
def load_data_batch(rows):
    # Data loading logic for a batch of rows
    time.sleep(0.5)  # Simulating batch data loading time

# Function to measure the time taken to load data
def measure_loading_time(load_function, data, batch_size):
    start_time = time.time()

    if batch_size > 1:
        # Perform batch processing using multiple threads or processes
        num_batches = len(data) // batch_size
        remaining_rows = len(data) % batch_size

        if num_batches > 0:
            for i in range(num_batches):
                batch_data = data[i * batch_size : (i + 1) * batch_size]

                if threading_enabled:
                    # Using threading for parallel data loading
                    threads = [threading.Thread(target=load_function, args=(row,)) for row in batch_data]
                    for thread in threads:
                        thread.start()
                    for thread in threads:
                        thread.join()
                else:
                    # Using multiprocessing for parallel data loading
                    pool = Pool(processes=multiprocessing_processes)
                    pool.map(load_function, batch_data)
                    pool.close()
                    pool.join()

        if remaining_rows > 0:
            remaining_data = data[-remaining_rows:]
            load_function(remaining_data)
    else:
        # Load data row by row
        for row in data:
            load_function(row)

    end_time = time.time()
    loading_time = end_time - start_time
    return loading_time

# Sample data to load (replace with your actual data)
data_to_load = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Configuration parameters
batch_size = 3  # Number of rows to process in each batch
threading_enabled = True  # Set to True to use threading, set to False to use multiprocessing
multiprocessing_processes = 2  # Number of processes to use if multiprocessing is enabled

# Measure loading time before optimizations
loading_time_before = measure_loading_time(load_data, data_to_load, 1)

# Measure loading time after optimizations
loading_time_after = measure_loading_time(load_data_batch, data_to_load, batch_size)

# Print the loading time
print(f"Loading time before optimizations: {loading_time_before} seconds")
print(f"Loading time after optimizations: {loading_time_after} seconds")

===========================================================================================================================
In this script, we have the load_data() function that simulates the data loading process for a single row. The load_data_batch() function simulates the bulk data loading process for a batch of rows.

The measure_loading_time() function is used to measure the time taken to load data using a specified loading function (load_function). It takes into account the batch size and the choice of threading or multiprocessing for parallelization.

We first measure the loading time before optimizations by calling measure_loading_time() with load_data and a batch size of 1.

Then, we measure the loading time after optimizations by calling measure_loading_time() with load_data_batch and a specified batch size.

The loading time before and after optimizations are printed to compare the performance improvement.

Note that this script is a simplified example to demonstrate the concepts of batch processing and parallelization. You would need to modify the load_data() and load_data_batch() functions with your actual data loading logic. Additionally, you may need to adapt the script based on your specific requirements and data loading scenario.

Remember to test and tune the batch size and number of threads or processes based on your system's capabilities and workload to achieve the best performance.