**1.** Write an SQL query to find the second-highest salary from an "Employees" table.

WITH tmp AS 
    (SELECT salary, ROW_NUMBER() OVER() as rnk FROM Employee ORDER BY salary DESC) 
    SELECT salary FROM tmp WHERE  rnk = 2;